D:\quantum computing\Cirq-Studio\.venv
D:\quantum computing\Cirq-Studio\google_composer\go-gateway\firebase-service-account.json
D:\quantum computing\Cirq-Studio\google_composer\go-gateway\firebase-service-account.jsonZone.Identifier